.CounterStoreBtn {
    background-color: white;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin: 16px;
    outline: none;
    padding: 20px;
    text-align: center;
    width: 150px;
}

.CounterStoreBtn:hover,
.CounterStoreBtn:active {
    background-color: #eee;
}

.CounterResultsList {
    list-style-type: none;
    padding: 0;
}

.CounterResult {
    background-color: #fa923f;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    margin: 0 auto 10px;
    text-align: center;
    width: 150px;
}